<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    <!-- wp:post-title /-->
    <!-- wp:post-date {"fontSize":"small"} /-->
    <!-- wp:post-content /-->
    <!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

    <!-- wp:spacer {"height":32} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-navigation-link {"type":"next", "label":"Prev :", "showTitle":true,"linkLabel":true} /-->
    <!-- wp:post-navigation-link {"type":"previous","label":"Next :", "showTitle":true,"linkLabel":true} /-->

    <!-- wp:spacer {"height":32} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-comments /-->

    <!-- wp:spacer {"height":32} -->
    <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->